<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<!--====================================== sec1 ============================================-->
	<div class="sec1">
		<div class="container">
			<div class="sec1__contact">
				<img src="img/loc.svg" alt="" class="sec1__contact__icon">
				<div class="sec1__contact__title">г. Москва, Колодезный переулок, дом 3. Второй этаж</div>
			</div>
			<div class="sec1__contact">
				<img src="img/clock.svg" alt="" class="sec1__contact__icon">
				<div class="sec1__contact__title">Ежедневно с 10:00 до 20:00</div>
			</div>
			<ul class="sec1__nav">
				<li><a href="">Контакты</a></li>
				<li><a href="">Доставка и оплата</a></li>
				<li><a href="">О компании</a></li>
			</ul>
		</div>
	</div>
	<!--======================================END sec1 ============================================-->
	<!--====================================== sec2 ============================================-->
	<div class="sec2">
		<div class="container">
			<a href="/" class="sec2__logo">
				<img src="img/logo.svg" alt="">
			</a>
			<a href="" class="sec2__phone">
				<img src="img/phone.svg" alt="" class="sec2__phone__icon">
				<span class="sec2__phone__title">+7 (495) 021-2172</span>
			</a>
			<a href="/" class="sec2__present">
				<img src="img/present.svg" alt="" class="sec2__present__icon">
				<span class="sec2__present__title">Дизайн-проект в 3D (в подарок)</span>
			</a>
			<form action="" class="sec2__search">
				<input type="text" placeholder="Поиск">
				<button>
					<img src="img/search.svg" alt="">
				</button>
			</form>
			<a href="/" class="sec2__cart">
				<div class="sec2__cart__mobilenumber">3</div>
				<img src="img/cart.svg" alt="" class="sec2__cart__icon">
				<span class="sec2__cart__text">
					<span class="sec2__cart__title">Корзина</span>
					<span class="sec2__cart__price">1200 ₽</span>
				</span>
			</a>
			<div class="sec2__hamburger" data-mobilenav-show="1">
				<img src="img/hamburger.svg" alt="">
			</div>
		</div>
	</div>
	<!--======================================END sec2 ============================================-->
	<!--====================================== sec3 ============================================-->
	<div class="sec3">
		<div class="container">
			<div class="sec3__links">
				<a href="">Плитка для ванной</a>
				<a href="">Плитка для кухни</a>
				<a href="">Керамогранит</a>
				<a href="">Мозаика</a>
				<a href="">изделия из искусственного камня</a>
			</div>
		</div>
	</div>
	<!--======================================END sec3 ============================================-->
	<!--====================================== sec4 ============================================-->
	<div class="sec4">
		<div class="container">
			<ul class="sec4__menu">
				<li class="sec4__menu__all"><a href="">Все фабрики</a></li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">1</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">
					a
					<ul class="sec4__submenu">
						<li><a href="/">Aberhof</a></li>
						<li><a href="/">Abitare La Ceramica</a></li>
						<li><a href="/">ABK</a></li>
						<li><a href="/">Absolut Keramika</a></li>
						<li><a href="/">ACM</a></li>
						<li><a href="/">AdaWall</a></li>
						<li><a href="/">Adex</a></li>
						<li><a href="/">Agrob Buchtal</a></li>
						<li><a href="/">Alaplana Ceramica</a></li>
						<li><a href="/">Aleluia Ceramicas</a></li>
					</ul>
				</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">
					b
					<ul class="sec4__submenu">
						<li><a href="/">Baldocer</a></li>
						<li><a href="/">Balterio</a></li>
						<li><a href="/">Bars Crystal</a></li>
						<li><a href="/">Baum</a></li>
						<li><a href="/">Beaver Creek</a></li>
						<li><a href="/">Befag</a></li>
						<li><a href="/">Belani</a></li>
						<li><a href="/">Belfloor</a></li>
						<li><a href="/">BELLAVISTA</a></li>
						<li><a href="/">BELLEZA</a></li>
						<li><a href="/">Belmar</a></li>
						<li><a href="/">Benadresa</a></li>
						<li><a href="/">Bergstone</a></li>
						<li><a href="/">BerryAlloc</a></li>
						<li><a href="/">Beryoza Ceramica</a></li>
						<li><a href="/">Bestile</a></li>
						<li><a href="/">Bette</a></li>
						<li><a href="/">Biber</a></li>
						<li><a href="/">BIEN SERAMIK</a></li>
						<li><a href="/">Bisazza
						<li><a href="/">Blau Ceramica</a></li>
						<li><a href="/">Bluezone</a></li>
						<li><a href="/">Blustyle Ceramica</a></li>
						<li><a href="/">BN International</a></li>
						<li><a href="/">BODE</a></li>
						<li><a href="/">Bodenbasis</a></li>
						<li><a href="/">Bonaparte</a></li>
						<li><a href="/">Bossini</a></li>
						<li><a href="/">Brennero</a></li>
						<li><a href="/">BrickMayer</a></li>
						<li><a href="/">BronzoDecor</a></li>
						<li><a href="/">Butech</a></li>
					</ul>
				</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">
					c
					<ul class="sec4__submenu">
						<li><a href="/">Caesar</a></li>
						<li><a href="/">Calaf</a></li>
						<li><a href="/">Calcutta</a></li>
						<li><a href="/">Camsan</a></li>
						<li><a href="/">Capri Ceramiche</a></li>
						<li><a href="/">Caramelle Mosaic</a></li>
						<li><a href="/">CARMEN</a></li>
						<li><a href="/">Casa Dolce Casa</a></li>
						<li><a href="/">Casabella</a></li>
						<li><a href="/">Casadeco</a></li>
						<li><a href="/">CASAINFINITA</a></li>
						<li><a href="/">Casalgrande Padana</a></li>
						<li><a href="/">Casati ceramica</a></li>
						<li><a href="/">Caselio</a></li>
						<li><a href="/">CE.SI.</a></li>
						<li><a href="/">CeDam</a></li>
						<li><a href="/">Cedir</a></li>
						<li><a href="/">Cedit</a></li>
						<li><a href="/">Century</a></li>
						<li><a href="/">Ceracasa</a></li>
						<li><a href="/">Ceradim</a></li>
						<li><a href="/">Ceramica Bardelli</a></li>
						<li><a href="/">Ceramica Colli</a></li>
						<li><a href="/">Ceramica Di Treviso</a></li>
						<li><a href="/">Ceramica Gomez</a></li>
						<li><a href="/">Ceramica Mayor</a></li>
						<li><a href="/">Ceramicalcora</a></li>
						<li><a href="/">Ceramiche Grazia</a></li>
						<li><a href="/">Ceramiche Supergres</a></li>
						<li><a href="/">Ceramika Color</a></li>
						<li><a href="/">Ceramika Konskie</a></li>
						<li><a href="/">Ceramique Imperiale</a></li>
						<li><a href="/">Ceranosa</a></li>
						<li><a href="/">Cerasarda</a></li>
						<li><a href="/">Cercom</a></li>
						<li><a href="/">Cerdomus</a></li>
						<li><a href="/">Ceresit</a></li>
						<li><a href="/">Cerim</a></li>
						<li><a href="/">Cerpa Ceramica</a></li>
						<li><a href="/">CERRAD</a></li>
						<li><a href="/">Cerrol</a></li>
						<li><a href="/">Cersanit</a></li>
						<li><a href="/">Cevica</a></li>
						<li><a href="/">Cezar</a></li>
						<li><a href="/">Chakmaks</a></li>
						<li><a href="/">Cicogres</a></li>
						<li><a href="/">Cifre</a></li>
						<li><a href="/">Cimic</a></li>
						<li><a href="/">Cinca</a></li>
						<li><a href="/">Cisa</a></li>
						<li><a href="/">Classen</a></li>
						<li><a href="/">Click Ceramica</a></li>
						<li><a href="/">Click Guard</a></li>
						<li><a href="/">Cobsa</a></li>
						<li><a href="/">Codicer</a></li>
						<li><a href="/">Coem</a></li>
						<li><a href="/">ColiseumGres</a></li>
						<li><a href="/">Colori Viva</a></li>
						<li><a href="/">Colorker</a></li>
						<li><a href="/">Cordivari</a></li>
						<li><a href="/">Cotto D’Este</a></li>
						<li><a href="/">Creaciones Gimenes</a></li>
						<li><a href="/">Creto</a></li>
						<li><a href="/">Cristacer</a></li>
					</ul>
				</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">d</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">e</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">f</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">g</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">h</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">i</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">j</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">k</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">l</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">m</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">n</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">o</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">p</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">q</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">r</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">s</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">t</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">u</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">v</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">w</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">y</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">z</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">а</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">г</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">д</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">е</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">з</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">и</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">к</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">л</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">м</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">н</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">о</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">п</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">р</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">с</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">т</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">у</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">ш</li>
				<li class="sec4__menu__separator"></li>
				<li class="sec4__menu__letter">э</li>
			</ul>
		</div>
	</div>
	<!--======================================END sec4 ============================================-->
	{% block content %}
		
	{% endblock %}

	<!--====================================== footer ============================================-->
	<div class="footer">
		<div class="container">
			<div class="footer__left">
				<a class="footer__logo">
					<img src="img/logo.svg" alt="">
				</a>
				<div class="footer__logo__desc">Наш интернет-магазин <a href="https://decorplitka.ru">decorplitka.ru</a> предлагает широкий ассортимент керамической плитки, керамогранита, мозаики, от производителей России, Польши, Испании и других стран</div>
				<img src="img/paylogo.png" alt="" class="footer__paylogo">
			</div>
			<div class="footer__nav">
				<div class="footer__nav__title">Категории</div>
				<ul class="footer__nav__links">
					<li><a href="/">Плитка для ванной</a></li>
					<li><a href="/">Плитка для кухни</a></li>
					<li><a href="/">Керамогранит</a></li>
					<li><a href="/">Мозаика</a></li>
					<li><a href="/">Изделия из искусивенного камня</a></li>
				</ul>
			</div>
			<div class="footer__nav">
				<div class="footer__nav__title">Меню</div>
				<ul class="footer__nav__links">
					<li><a href="/">Контакты</a></li>
					<li><a href="/">Доставка</a></li>
					<li><a href="/">О компании</a></li>
				</ul>
			</div>
			<div class="footer__contacts">
				<a href="tel:+7 (495) 021-2172" class="footer__phone">
					<img src="img/phone.svg" alt="" class="footer__phone__icon">
					<span class="footer__phone__title">+7 (495) 021-2172</span>
				</a>
				<div class="footer__contact">
					<img src="img/loc.svg" alt="" class="footer__contact__icon">
					<div class="footer__contact__title">г. Москва, Колодезный переулок, дом 3. Второй этаж</div>
				</div>
				<div class="footer__contact">
					<img src="img/clock.svg" alt="" class="footer__contact__icon">
					<div class="footer__contact__title">Ежедневно с 10:00 до 20:00</div>
				</div>
				<button class="btn" data-modal-show="1">Заказать звонок</button>
			</div>
		</div>
	</div>
	<!--======================================END footer ============================================-->
	<!--====================================== footer__after ============================================-->
	<div class="footer__after">
		<div class="container">
			<div class="footer__after__copyright">Декорплитка  2020</div>
			<a href="" class="footer__after__politics">Политика обработки и защиты персональных данных</a>
		</div>
	</div>
	<!--======================================END footer__after ============================================-->




	<!--====================================== modals ============================================-->
	<div class="modal__wrapper" data-modal="1">
		<div class="modal">
			<div class="modal__head">
				<div class="modal__title">Заказать звонок</div>
				<div class="modal__close" data-modal-close="1">
					<img src="img/modal__close.svg" alt="">
				</div>
			</div>
			<div class="modal__content">
				<form action="/" class="modal__form" data-validate='callorder'>
					<input name="phoneinput" type="text" placeholder="+7 (___) ___-____" data-mask="phone">
					<div class="modal__politics">Нажимая на кнопку "отправить" Вы принимаете условия <a href="">политики конфинденциальности</a></div>
					<button class="btn">Заказать звонок</button>
				</form>
			</div>
		</div>
	</div>
	<div class="modal__wrapper" data-modal="2">
		<div class="modal">
			<div class="modal__head">
				<div class="modal__title">Записаться к дизайнеру</div>
				<div class="modal__close" data-modal-close="2">
					<img src="img/modal__close.svg" alt="">
				</div>
			</div>
			<div class="modal__content">
				<form action="/" class="modal__form" data-validate='callorder'>
					<input name="phoneinput" type="text" placeholder="+7 (___) ___-____" data-mask="phone">
					<div class="modal__politics">Нажимая на кнопку "отправить" Вы принимаете условия <a href="">политики конфинденциальности</a></div>
					<button class="btn">Записаться к дизайнеру</button>
				</form>
			</div>
		</div>
	</div>
	<div class="modal__wrapper" data-modal="3">
		<div class="modal">
			<div class="modal__head">
				<div class="modal__title">Отправлено!</div>
				<div class="modal__close" data-modal-close="3">
					<img src="img/modal__close.svg" alt="">
				</div>
			</div>
			<div class="modal__content">
				<div class="modal__desc">Спасибо! Ваша заявка отправлена!</div>
			</div>
		</div>
	</div>

	<div class="mobile__nav" data-mobilenav="1">
		<div class="mobile__nav__wrapper">
			<div class="mobile__nav__head">
				<div class="mobile__nav__title">Меню</div>
				<div class="mobile__nav__close" data-mobilenav-close="1">
					<img src="img/close-2.svg" alt="">
				</div>
			</div>
			<form action="" class="sec2__search">
				<input type="text" placeholder="Поиск">
				<button>
					<img src="img/search.svg" alt="">
				</button>
			</form>
			<div class="mobile__nav__links">
				<a href="">Плитка для ванной</a>
				<a href="">Плитка для кухни</a>
				<a href="">Керамогранит</a>
				<a href="">Мозаика</a>
				<a href="">Изделия из искусственного камня</a>
			</div>
			<div class="mobile__nav__links small">
				<a href="">Контакты</a>
				<a href="">Доставка</a>
				<a href="">О компании</a>
			</div>
			<a href="/" class="sec2__present">
				<img src="img/present.svg" alt="" class="sec2__present__icon">
				<span class="sec2__present__title">Дизайн-проект в 3D (в подарок)</span>
			</a>
			<div class="footer__contacts">
				<a href="tel:+7 (495) 021-2172" class="footer__phone">
					<img src="img/phone.svg" alt="" class="footer__phone__icon">
					<span class="footer__phone__title">+7 (495) 021-2172</span>
				</a>
				<div class="footer__contact">
					<img src="img/loc.svg" alt="" class="footer__contact__icon">
					<div class="footer__contact__title">г. Москва, Колодезный переулок, дом 3. Второй этаж</div>
				</div>
				<div class="footer__contact">
					<img src="img/clock.svg" alt="" class="footer__contact__icon">
					<div class="footer__contact__title">Ежедневно с 10:00 до 20:00</div>
				</div>
				<button class="btn" data-modal-show="1">Заказать звонок</button>
			</div>
		</div>
	</div>
	<!--======================================END modals ============================================-->
	

	<script src="js/jquery.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mask.js"></script>
	<script src="js/validate.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
