@media screen and (max-width: 1230px) {
  .container {
    max-width: 1000px;
  }
  .sec1__socials {
    display: none;
  }
  .sec1__contact__title {
    font-size: 12px;
  }
  .sec1__nav li {
    margin-left: 25px;
  }
  .sec2__logo img {
    width: 200px;
  }
  .sec2__present__title {
    font-size: 12px;
  }
  .sec2__phone__title {
    font-size: 16px;
  }
  .sec2__search input {
    width: 133px;
  }
  .sec3__links a {
    font-size: 12px;
  }
  .sec4__menu__all a {
    font-size: 14px;
  }
  .sec4__menu__letter {
    font-size: 14px;
  }
  .footer__contacts {
    max-width: 260px;
  }
  .sec1__nav a {
    font-size: 12px;
  }
}
@media screen and (max-width: 1080px) {
  .cart__item__new {
    border-radius: 0;
    margin-bottom: 10px;
  }
  .cart__item__new__grid {
    grid-template-columns: 1fr;
  }
  .cart__item__new__info {
    padding-right: 30px;
  }
  .cart__item__new__info__img {
    width: 60px;
    min-width: 60px;
    height: 60px;
  }
  .cart__item__new__inputblock {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    border-width: 1px 0 1px 0px;
    padding: 20px 0;
    margin-top: 20px;
    padding-left: 80px;
  }
  .cart__item__new__metters_sht {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    border-bottom: 1px solid #f2f2f2;
    border-right: none;
    padding: 20px 0;
    padding-left: 80px;
  }
  .cart__item__new__summ {
    padding-left: 0;
    padding-top: 20px;
    padding-left: 80px;
  }
  .collection__head__slider .owl-nav {
    top: 212px;
  }
  .collection__head__slider__item {
    border-radius: 0;
    padding-bottom: 270px;
  }
  .collection__head__slider .owl-dots {
    padding: 0 12px 0 12px;
  }
  .sec7__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
  }
  .sec7__item {
    border-radius: 0;
  }
  .sec6__title {
    font-size: 20px;
  }
  .sec7 {
    margin-top: 25px;
  }
  .sec6 {
    padding-top: 25px;
  }
  .btn {
    padding: 16px 26px;
  }
  .sec5__slide__desc {
    font-size: 16px;
    margin-top: 15px;
  }
  .sec5__slide__title {
    font-size: 26px;
    line-height: initial;
  }
  .sec5__slide {
    padding: 30px;
    padding-bottom: 60px;
  }
  .sec5__slide .btn {
    margin-top: 20px;
  }
  .btn {
    font-size: 14px;
  }
  .sec5__slider .owl-dots button.owl-dot {
    width: 9px;
    height: 9px;
    margin: 0 3px;
  }
  .sec5__slider .owl-dots {
    bottom: 30px;
  }
  .sec2__phone {
    margin-left: auto;
  }
  .sec1 {
    display: none;
  }
  .sec3 {
    display: none;
  }
  .sec4 {
    display: none;
  }
  .sec2 {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
  }
  .sec5__slider .owl-nav {
    display: none;
  }
  .container {
    max-width: 100%;
  }
  .sec5__slide {
    border-radius: 0;
  }
  .sec2__phone__title {
    display: none;
  }
  .sec2__present {
    display: none;
  }
  .sec2__search {
    display: none;
  }
  .sec2__cart__text {
    display: none;
  }
  .sec2 .container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
  }
  .sec2__phone__icon {
    width: 22px;
    margin-right: 0;
  }
  .sec2__cart__icon {
    width: 27px;
  }
  .sec2__cart {
    margin-left: 30px;
  }
  .sec2__hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .sec2__cart__mobilenumber {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    margin-top: 30px;
  }
  .footer__contacts {
    margin-top: 30px;
  }
  .footer__after .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .footer__after__politics {
    margin-top: 15px;
  }
  .category__filter__wrapper {
    position: fixed;
    top: 63px;
    left: 0;
    width: 100%;
    overflow-y: auto;
    height: -webkit-calc(100vh - 63px);
    height: calc(100vh - 63px);
    background-color: #fff;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  .category__filter__wrapper.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .category__filter__wrapper .mobile__nav__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 30px;
    padding-bottom: 0;
  }
  .category .container {
    grid-template-columns: 1fr;
    padding: 0 30px;
  }
  .category {
    padding-top: 30px;
  }
  .category__content__view {
    display: none;
  }
  .pagetitle {
    margin-top: 20px;
    font-size: 26px;
  }
  .category__content__items {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .category__content__sort__label {
    display: none;
  }
  .category__content__sort__select {
    padding: 10px 20px;
    border: 1px solid #ed6e1e;
    border-radius: 5px;
  }
  .category__content__sort__select select {
    text-transform: uppercase;
    font-weight: bold;
  }
  .category__content__filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .sec7__item__download {
    height: 100%;
  }
  .collection__items .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
  }
  .collection__item {
    border-radius: 0;
  }
  .collection__head .container {
    grid-template-columns: 1fr;
  }
  .collection__head__text {
    padding: 0 30px;
  }
  .collection__head__img {
    height: 200px;
    border-radius: 0;
  }
  .collection__head__list {
    font-size: 14px;
  }
  .collection__items__head__title {
    font-size: 20px;
  }
  .collection__items__head__line {
    display: none;
  }
  .produt__head .container {
    grid-template-columns: 1fr;
  }
  .produt__head__img {
    height: 300px;
  }
  .produt__head__text {
    padding: 0 30px;
  }
  .produt__haracter__title {
    font-size: 20px;
  }
  .produt__haracter__item__name {
    font-size: 14px;
  }
  .produt__haracter__item__val {
    font-size: 14px;
  }
  .produt__other__items {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .produt__other__title {
    font-size: 20px;
  }
  .cart__items__head {
    display: none;
  }
  .cart {
    padding-top: 30px;
  }
  .cart__item__count__label {
    font-size: 12px;
  }
  .cart__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    padding-right: 80px;
  }
  .cart__items__orderreg__inputgroup {
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  .cart__items__orderreg__textarea__wrapper {
    margin-right: 0;
    margin-left: 0;
  }
  .cart__items__orderreg .btn {
    margin-left: 0;
  }
  .cart__items__itogo__line {
    display: none;
  }
  .alert__page {
    padding-top: 30px;
  }
  .alert__page__title {
    font-size: 26px;
  }
  .alert__page__icon {
    width: 130px;
    height: auto;
  }
  .search__items {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .search {
    padding-top: 30px;
  }
  .contacts__content__subtitle__inputgroup {
    grid-template-columns: 1fr;
  }
  .contacts__content {
    grid-template-columns: 1fr;
  }
  .contacts__content__form {
    margin-left: 0;
  }
  .contacts {
    padding-top: 30px;
  }
  .contacts__content__map {
    height: 220px;
  }
  .d3__steps {
    grid-template-columns: 1fr;
  }
  .d3 {
    padding-top: 30px;
  }
  .d3__gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
  }
  .d3__gallery__item {
    border-radius: 0;
  }
  .textblock {
    border-radius: 0;
  }
  .modal {
    top: 50px;
  }
  .modal__title {
    font-size: 20px;
  }
  .textpage {
    padding-top: 30px;
  }
}
@media screen and (max-width: 740px) {
  .sec6__line {
    display: none;
  }
  .sec6__all__title {
    display: none;
  }
  .cart__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
}
@media screen and (max-width: 550px) {
  .collection__item__pricecount {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .collection__item__price {
    margin-top: 20px;
  }
  .collection__item__title {
    font-size: 14px;
  }
  .collection__item__country__title {
    font-size: 12px;
  }
  .collection__item__haracter {
    font-size: 10px;
  }
}
@media screen and (max-width: 450px) {
  .modal {
    width: 85%;
  }
  .cart__item__name {
    font-size: 12px;
  }
  .category__content__filter__title {
    font-size: 12px;
  }
  .category__content__sort__select select {
    font-size: 12px;
  }
  .sec2__logo {
    margin-top: -5px;
  }
  .sec2__logo img {
    width: 120px;
  }
  .footer__paylogo {
    max-width: 100%;
  }
  .footer__logo img {
    max-width: 100%;
  }
  .produt__head__addtocard {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .sec2__cart {
    margin-left: 15px;
  }
  .sec2__hamburger {
    margin-left: 20px;
  }
  .collection__items .container {
    grid-template-columns: 1fr;
    grid-gap: 1px;
  }
  .produt__haracter__item__line {
    display: none;
  }
  .produt__haracter__item__name {
    font-size: 12px;
  }
  .produt__haracter__item__val {
    font-size: 12px;
  }
  .produt__other__items {
    grid-template-columns: 1fr;
  }
}
