{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!--====================================== produt__head ========================================-->
<div class="produt__head">
	<div class="container">
		<div class="produt__head__img" style="background-image: url(img/item-2.jpg);"></div>
		<div class="produt__head__text">
			<ul class="bredcrumbs">
				<li class="breadcrumb-item"><a href="/">Главная</a></li>
				<li class="bredcrumbs_separator">»</li>
				<li class="breadcrumb-item"><a href="katalog/">Каталог</a></li>
				<li class="bredcrumbs_separator">»</li>
				<li class="breadcrumb-item active">Гидравлические коллекторы</li>
			</ul>
			<h1 class="pagetitle">Плитка 7186 Кантри Шик белый 20x50</h1>
			<div class="produt__head__code">Код: 270958</div>
			<ul class="produt__head__list">
				<li>Коллекция: <span>Камбон</span></li>
				<li>Фабрика: <span>Kerama Marazzi</span></li>
				<li>Страна: <span>Россия</span></li>
			</ul>
			<div class="produt__head__pricecount">
				<div class="produt__head__price">976 ₽</div>
				<div class="produt__head__count">
					<input type="number" min="1" value="1">
					<div class="produt__head__count__label">кв.м</div>
				</div>
			</div>
			<div class="produt__head__addtocard">+ В корзину</div>
		</div>
	</div>
</div>
<!--======================================END produt__head ========================================-->
<!--====================================== produt__haracter ========================================-->
<div class="produt__haracter">
	<div class="container">
		<h2 class="produt__haracter__title">Технические характеристики</h2>
		<div class="produt__haracter__items">
			{% for i in range(20, data.numberOfRooms) -%}
			<div class="produt__haracter__item">
				<div class="produt__haracter__item__name">Производитель</div>
				<div class="produt__haracter__item__line"></div>
				<div class="produt__haracter__item__val">Kerama Marazzi</div>
			</div>
			{%- endfor %}
			<div class="produt__haracter__item">
				<div class="produt__haracter__item__name">Производитель</div>
				<div class="produt__haracter__item__line"></div>
				<div class="produt__haracter__item__val">для кухни  , для ванной  , для гостиной , для прихожей , для туалета</div>
			</div>
		</div>
	</div>
</div>
<!--======================================END produt__haracter ========================================-->
<!--====================================== produt__other ========================================-->
<div class="produt__other">
	<div class="container">
		<div class="produt__other__title">Другие товары коллекции Камбон Kerama Marazzi</div>
		<div class="produt__other__items">
			{% for i in range(4, data.numberOfRooms) -%}
			<!-- collection__item -->
			<div class="collection__item">
				<div class="collection__item__img" style="background-image: url(img/item-2.jpg);"></div>
				<div class="collection__item__text">
					<div class="collection__item__code">Код: 270958</div>
					<a href="" class="collection__item__title">7186 Кантри Шик белый 20x50</a>
					<div class="collection__item__country">
						<img src="img/russian.jpg" alt="" class="collection__item__country__icon">
						<div class="collection__item__country__title">Россия</div>
					</div>
					<ul class="collection__item__haracter">
						<li>Размер: <span>20х50 см</span></li>
						<li>Поверхность: <span>матовая</span> </li>
						<li>Помещение: <span>для туалета</span></li>
						<li>Цвет: <span>белый</span> </li>
					</ul>
					<div class="collection__item__pricecount">
						<div class="collection__item__count">
							<input type="number" value="1" min="1">
							<div class="collection__item__count__label">кв.м</div>
						</div>
						<div class="collection__item__price">976 ₽</div>
					</div>
					<button class="collection__item__btn">В корзину</button>
				</div>
			</div>
			<!--END collection__item -->
			{%- endfor %}
		</div>
	</div>
</div>
<!--======================================END produt__other ========================================-->

{% endblock %}