{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}


<div class="textpage">
    <div class="container">
        <ul class="bredcrumbs">
			<li class="breadcrumb-item"><a href="/">Главная</a></li>
			<li class="bredcrumbs_separator">»</li>
			<li class="breadcrumb-item"><a href="katalog/">Каталог</a></li>
			<li class="bredcrumbs_separator">»</li>
			<li class="breadcrumb-item active">Гидравлические коллекторы</li>
        </ul>
        <h1 class="pagetitle">Доставка</h1>
        <div class="textblock">
            <p>Стоимость доставки <a href="/">ссылка</a> по Москве в пределах МКАД -1500 рублей, при заказе от 40000 рублей - бесплатно</p>
            <p>Стоимость доставки за МКАД 1500 рублей+ 30рублей каждый км от МКАД. <br>
                При заказе от 40000 рублей - 30 рублей за каждый км от МКАД. </p>
            <h6>Разгрузка и подъем на этаж:</h6>
            <p>При наличии грузового лифта: 90 руб./м2 <br>
                При отсутствии грузового лифта: 90 руб./ м2 за 1этаж. </p>
            <h6>Сроки доставки:</h6>
            <p>Доставка по Москве и МО осуществляется в течение 3-х дней с момента подтверждения заказа. <br>
                Точную дату и время доставки с вами согласует менеджер. </p>
            <h6>Доставка в Регионы: </h6>
            <p>Доставка в другие города России осуществляется транспортными компаниями ПЭК, Деловые Линии, КИТ. </p>
            <p>Стоимость доставки до терминала транспортной компании 1500 рублей, при заказе от 40000 рублей- бесплатно.  </p>
            <p>Стоимость доставки транспортной компанией в ваш город, зависит от габаритов заказа и тарифов транспортной компании. Ориентировочную стоимость необходимо уточнить у менеджера. 
                Сроки доставки зависят от вашего города.</p>
        </div>
        <h2 class="pagetitle">Оплата</h2>
        <div class="textblock">
            <p>Минимальная сумма заказа 8000 рублей. </p>
            <h6>Способы оплаты: </h6>
            <ol>
                <li>Наличными при получении, в пределах 5-ти км от МКАД.</li>
                <li>Оплата картой онлайн через сайт. </li>
                <li>Оплата заказа по счету через банк. </li>
                <li>Предоплата наличными в шоу-рум.</li>
            </ol>
            <ul>
                <li>Гарантия качества товара. </li>
                <li>Индивидуальный подход к каждому покупателю. </li>
                <li>Консультация и помощь в выборе.</li>
                <li>Система бонусов и скидок</li>
                <li>Удобные способы оплаты</li>
                <li>Быстрая и надёжная доставка.</li>
                <li>Решение нестандартных вопросов и ситуаций. </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}